<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【管理员用户表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-10
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.admin.AdminUserDao">

	<resultMap id="adminUserResultMap" type="com.bluemobi.po.admin.AdminUser">
		<id property="userId" column="user_id" />
       <result property="userName" column="user_name" />
       <result property="password" column="password" />
       <result property="salt" column="salt" />
       <result property="phone" column="phone" />
       <result property="email" column="email" />
       <result property="fullname" column="fullname" />
       <result property="nickname" column="nickname" />
       <result property="enName" column="en_name" />
       <result property="initial" column="initial" />
       <result property="sex" column="sex" />
       <result property="status" column="status" />
       <result property="isOnline" column="is_online" />
       <result property="loginTime" column="login_time" />
       <result property="creator" column="creator" />
       <result property="ctime" column="ctime" />
       <result property="modifier" column="modifier" />
       <result property="mtime" column="mtime" />
       <result property="userType" column="user_type" />
       <result property="merchantId" column="merchant_id" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="adminUserResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="adminUserResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.admin.AdminUser" useGeneratedKeys="true" keyProperty="userId" >
	   insert into admin_user (
	     user_id,
	     user_name,
	     password,
	     salt,
	     phone,
	     email,
	     fullname,
	     nickname,
	     en_name,
	     initial,
	     sex,
	     status,
	     is_online,
	     login_time,
	     creator,
	     ctime,
	     modifier,
	     mtime,
	     user_type,
	     merchant_id
	   )values (
	     #{userId},
	     #{userName},
	     #{password},
	     #{salt},
	     #{phone},
	     #{email},
	     #{fullname},
	     #{nickname},
	     #{enName},
	     #{initial},
	     #{sex},
	     #{status},
	     #{isOnline},
	     #{loginTime},
	     #{creator},
	     #{ctime},
	     #{modifier},
	     #{mtime},
	     #{userType},
	     #{merchantId}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.admin.AdminUser">
		update admin_user
		<set>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="userName != null">
				user_name=#{userName},
			</if>
			<if test="password != null">
				password=#{password},
			</if>
			<if test="salt != null">
				salt=#{salt},
			</if>
			<if test="phone != null">
				phone=#{phone},
			</if>
			<if test="email != null">
				email=#{email},
			</if>
			<if test="fullname != null">
				fullname=#{fullname},
			</if>
			<if test="nickname != null">
				nickname=#{nickname},
			</if>
			<if test="enName != null">
				en_name=#{enName},
			</if>
			<if test="initial != null">
				initial=#{initial},
			</if>
			<if test="sex != null">
				sex=#{sex},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="isOnline != null">
				is_online=#{isOnline},
			</if>
			<if test="loginTime != null">
				login_time=#{loginTime},
			</if>
			<if test="creator != null">
				creator=#{creator},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
			<if test="modifier != null">
				modifier=#{modifier},
			</if>
			<if test="mtime != null">
				mtime=#{mtime},
			</if>
			<if test="userType != null">
				user_type=#{userType},
			</if>
			<if test="merchantId != null">
				merchant_id=#{merchantId},
			</if>
		</set>
		<where>
			user_id=#{userId} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     admin_user 
	   where 
	    user_id=#{userId} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="adminUserResultMap">
	   select 
	    user_id,
	    user_name,
	    password,
	    salt,
	    phone,
	    email,
	    fullname,
	    nickname,
	    en_name,
	    initial,
	    sex,
	    status,
	    is_online,
	    login_time,
	    creator,
	    ctime,
	    modifier,
	    mtime,
	    user_type,
	    merchant_id
	   from admin_user
	   where 
	    user_id=#{userId} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="adminUserResultMap">
	   select 
	     user_id,
	     user_name,
	     password,
	     salt,
	     phone,
	     email,
	     fullname,
	     nickname,
	     en_name,
	     initial,
	     sex,
	     status,
	     is_online,
	     login_time,
	     creator,
	     ctime,
	     modifier,
	     mtime,
	     user_type,
	     merchant_id
	   from admin_user
	   <where>
	     <if test="userId != null">
	        user_id=#{userId}
	     </if>
	     <if test="userName != null">
	        and user_name=#{userName}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="salt != null">
	        and salt=#{salt}
	     </if>
	     <if test="phone != null">
	        and phone=#{phone}
	     </if>
	     <if test="email != null">
	        and email=#{email}
	     </if>
	     <if test="fullname != null">
	        and fullname=#{fullname}
	     </if>
	     <if test="nickname != null">
	        and nickname=#{nickname}
	     </if>
	     <if test="enName != null">
	        and en_name=#{enName}
	     </if>
	     <if test="initial != null">
	        and initial=#{initial}
	     </if>
	     <if test="sex != null">
	        and sex=#{sex}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isOnline != null">
	        and is_online=#{isOnline}
	     </if>
	     <if test="loginTime != null">
	        and login_time=#{loginTime}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	     <if test="userType != null">
	        and user_type=#{userType}
	     </if>
	     <if test="merchantId != null">
	        and merchant_id=#{merchantId}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    user_id,
	    user_name,
	    password,
	    salt,
	    phone,
	    email,
	    fullname,
	    nickname,
	    en_name,
	    initial,
	    sex,
	    status,
	    is_online,
	    login_time,
	    creator,
	    ctime,
	    modifier,
	    mtime,
	    user_type,
	    merchant_id
	   from admin_user
	   where 
	    user_id=#{userId} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     user_id,
	     user_name,
	     password,
	     salt,
	     phone,
	     email,
	     fullname,
	     nickname,
	     en_name,
	     initial,
	     sex,
	     status,
	     is_online,
	     login_time,
	     creator,
	     ctime,
	     modifier,
	     mtime,
	     user_type,
	     merchant_id
	   from admin_user
	   <where>
	     <if test="userId != null">
	        user_id=#{userId}
	     </if>
	     <if test="userName != null">
	        and user_name=#{userName}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="salt != null">
	        and salt=#{salt}
	     </if>
	     <if test="phone != null">
	        and phone=#{phone}
	     </if>
	     <if test="email != null">
	        and email=#{email}
	     </if>
	     <if test="fullname != null">
	        and fullname=#{fullname}
	     </if>
	     <if test="nickname != null">
	        and nickname=#{nickname}
	     </if>
	     <if test="enName != null">
	        and en_name=#{enName}
	     </if>
	     <if test="initial != null">
	        and initial=#{initial}
	     </if>
	     <if test="sex != null">
	        and sex=#{sex}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isOnline != null">
	        and is_online=#{isOnline}
	     </if>
	     <if test="loginTime != null">
	        and login_time=#{loginTime}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	     <if test="userType != null">
	        and user_type=#{userType}
	     </if>
	     <if test="merchantId != null">
	        and merchant_id=#{merchantId}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     user_id,
	     user_name,
	     password,
	     salt,
	     phone,
	     email,
	     fullname,
	     nickname,
	     en_name,
	     initial,
	     sex,
	     status,
	     is_online,
	     login_time,
	     creator,
	     ctime,
	     modifier,
	     mtime,
	     user_type,
	     merchant_id
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from admin_user
	   <where>
	     <if test="userId != null">
	        user_id=#{userId}
	     </if>
	     <if test="userName != null">
	        and user_name=#{userName}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="salt != null">
	        and salt=#{salt}
	     </if>
	     <if test="phone != null">
	        and phone=#{phone}
	     </if>
	     <if test="email != null">
	        and email=#{email}
	     </if>
	     <if test="fullname != null">
	        and fullname=#{fullname}
	     </if>
	     <if test="nickname != null">
	        and nickname=#{nickname}
	     </if>
	     <if test="enName != null">
	        and en_name=#{enName}
	     </if>
	     <if test="initial != null">
	        and initial=#{initial}
	     </if>
	     <if test="sex != null">
	        and sex=#{sex}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isOnline != null">
	        and is_online=#{isOnline}
	     </if>
	     <if test="loginTime != null">
	        and login_time=#{loginTime}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	     <if test="userType != null">
	        and user_type=#{userType}
	     </if>
	     <if test="merchantId != null">
	        and merchant_id=#{merchantId}
	     </if>
	   </where>
	</sql>

	
</mapper> 