<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【商户授权品牌分类表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-10
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.merchant.MerchantBrandCategoryDao">

	<resultMap id="merchantBrandCategoryResultMap" type="com.bluemobi.po.merchant.MerchantBrandCategory">
		<id property="id" column="id" />
       <result property="merchantBrandId" column="merchant_brand_id" />
       <result property="categoryId" column="category_id" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="merchantBrandCategoryResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="merchantBrandCategoryResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.merchant.MerchantBrandCategory" useGeneratedKeys="true" keyProperty="id" >
	   insert into merchant_brand_category (
	     id,
	     merchant_brand_id,
	     category_id
	   )values (
	     #{id},
	     #{merchantBrandId},
	     #{categoryId}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.merchant.MerchantBrandCategory">
		update merchant_brand_category
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="merchantBrandId != null">
				merchant_brand_id=#{merchantBrandId},
			</if>
			<if test="categoryId != null">
				category_id=#{categoryId},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     merchant_brand_category 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="merchantBrandCategoryResultMap">
	   select 
	    id,
	    merchant_brand_id,
	    category_id
	   from merchant_brand_category
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="merchantBrandCategoryResultMap">
	   select 
	     id,
	     merchant_brand_id,
	     category_id
	   from merchant_brand_category
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="merchantBrandId != null">
	        and merchant_brand_id=#{merchantBrandId}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    merchant_brand_id,
	    category_id
	   from merchant_brand_category
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     merchant_brand_id,
	     category_id
	   from merchant_brand_category
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="merchantBrandId != null">
	        and merchant_brand_id=#{merchantBrandId}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     merchant_brand_id,
	     category_id
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from merchant_brand_category
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="merchantBrandId != null">
	        and merchant_brand_id=#{merchantBrandId}
	     </if>
	     <if test="categoryId != null">
	        and category_id=#{categoryId}
	     </if>
	   </where>
	</sql>

	
</mapper> 