<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【用户抽奖记录表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-10
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.user.UserLotteryDao">

	<resultMap id="userLotteryResultMap" type="com.bluemobi.po.user.UserLottery">
		<id property="id" column="id" />
       <result property="userId" column="user_id" />
       <result property="isWin" column="is_win" />
       <result property="skuId" column="sku_id" />
       <result property="name" column="name" />
       <result property="price" column="price" />
       <result property="status" column="status" />
       <result property="ctime" column="ctime" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="userLotteryResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="userLotteryResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.user.UserLottery" useGeneratedKeys="true" keyProperty="id" >
	   insert into user_lottery (
	     id,
	     user_id,
	     is_win,
	     sku_id,
	     name,
	     price,
	     status,
	     ctime
	   )values (
	     #{id},
	     #{userId},
	     #{isWin},
	     #{skuId},
	     #{name},
	     #{price},
	     #{status},
	     #{ctime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.user.UserLottery">
		update user_lottery
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="isWin != null">
				is_win=#{isWin},
			</if>
			<if test="skuId != null">
				sku_id=#{skuId},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="price != null">
				price=#{price},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     user_lottery 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="userLotteryResultMap">
	   select 
	    id,
	    user_id,
	    is_win,
	    sku_id,
	    name,
	    price,
	    status,
	    ctime
	   from user_lottery
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="userLotteryResultMap">
	   select 
	     id,
	     user_id,
	     is_win,
	     sku_id,
	     name,
	     price,
	     status,
	     ctime
	   from user_lottery
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="isWin != null">
	        and is_win=#{isWin}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    user_id,
	    is_win,
	    sku_id,
	    name,
	    price,
	    status,
	    ctime
	   from user_lottery
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     user_id,
	     is_win,
	     sku_id,
	     name,
	     price,
	     status,
	     ctime
	   from user_lottery
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="isWin != null">
	        and is_win=#{isWin}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     user_id,
	     is_win,
	     sku_id,
	     name,
	     price,
	     status,
	     ctime
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from user_lottery
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="userId != null">
	        and user_id=#{userId}
	     </if>
	     <if test="isWin != null">
	        and is_win=#{isWin}
	     </if>
	     <if test="skuId != null">
	        and sku_id=#{skuId}
	     </if>
	     <if test="name != null">
	        and name=#{name}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</sql>

	
</mapper> 